@use "_variables" as *;

//body-template
@mixin body-template {
  padding: 0;
  margin: 0;
  height: $height-full;
  font-size: $fs-sm;
  width: $w-full;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: $blue-700;
}

//flex template
@mixin flex-simple {
  display: flex;
}

@mixin flex-full {
  display: flex;
  align-items: center;
  justify-content: center;
}

//button template
@mixin btn-template {
  padding: $space-1;
  margin-top: $space-1;
  border-radius: $rad-s;
  border: none;
  cursor: pointer;
  color: $white;
  background: $blue-800;
  font-weight: $fw-700;
  &:hover {
    background: linear-gradient(90deg, $grad-start, $grad-end);
    box-shadow: 0 18px 40px $shadow;
  }
}

//text templates
@mixin h1-template {
  color: $blue-800;
  font-size: 3rem;
  margin-bottom: $space-1;
}

@mixin p-template {
  margin-bottom: $space-1;
  color: $blue-800;
  font-weight: $fw-400;
}

//MEDIA MIXINS
//tablet
@mixin media-tablet {
  .main-cont {
    .subs-card {
      flex-direction: column-reverse;
      padding: $space-2;
      max-width: 500px;

      .image-cont {
        img {
          display: none;
        }
        .bg-mobile {
          border-radius: $rad-l;
          display: block;
          width: $w-full;
        }
      }

      .inner-content {
        padding: 0;
        text-align: left;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  .success-card {
    max-width: 450px;
  }
  footer {
    opacity: 0;
  }
}

//mobile
@mixin media-mobile {
  body {
    background: $white;
    justify-content: flex-start;
    padding-top: $space-2;
  }

  main {
    align-items: center;
  }

  .main-cont {
    padding: $space-1;

    .subs-card {
      box-shadow: none;
      padding: $space-1;
      max-width: 350px;

      .image-cont {
        img {
          display: none;
        }
        .bg-mobile {
          display: none;
        }
      }

      .inner-content {
        padding: 0;

        h1 {
          font-size: 1.9rem;
          margin-bottom: 1rem;
          color: $blue-800;
        }

        p {
          font-size: 14px;
        }

        ul li {
          font-size: 14px;

          img {
            width: 18px;
          }
        }

        .email-form {
          input {
            width: auto;
          }
        }
      }
    }
  }

  .success-card {
    width: $w-full;
    max-width: 350px;
    padding: $space-2;
    border-radius: $rad-l;
    box-shadow: none;
  }
  .dismiss-btn {
    width: 100%;
    margin-top: $space-5;
  }

  footer {
    opacity: 0;
  }
}
