body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 13px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: hsl(235, 18%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.main-cont {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-cont .subs-card {
  max-width: 850px;
  background: hsl(0, 0%, 100%);
  border-radius: 24px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  box-shadow: 0 24px 60px hsla(222, 47%, 11%, 0.45);
}
.main-cont .subs-card .inner-content {
  flex: 1;
  padding: 2rem 3rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.main-cont .subs-card .inner-content h1 {
  color: hsl(234, 29%, 20%);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.main-cont .subs-card .inner-content p {
  margin-bottom: 1rem;
  color: hsl(234, 29%, 20%);
  font-weight: 400;
}
.main-cont .subs-card .inner-content ul {
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
}
.main-cont .subs-card .inner-content ul li {
  display: flex;
  gap: 1rem;
  color: hsl(234, 29%, 20%);
  font-weight: 400;
  margin-bottom: 0.7rem;
}
.main-cont .subs-card .inner-content ul li img {
  width: 20px;
  display: block;
}
.main-cont .subs-card .inner-content .email-form {
  display: flex;
  flex-direction: column;
}
.main-cont .subs-card .inner-content .email-form .label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: hsl(235, 18%, 26%);
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.main-cont .subs-card .inner-content .email-form .error-text {
  color: hsl(4, 100%, 67%);
  display: none;
}
.main-cont .subs-card .inner-content .email-form input {
  border-radius: 8px;
  border: 1px solid hsla(234, 29%, 20%, 0.5);
  padding: 1rem;
  cursor: pointer;
}
.main-cont .subs-card .inner-content .email-form input::-moz-placeholder {
  color: hsl(0, 0%, 58%);
}
.main-cont .subs-card .inner-content .email-form input::placeholder {
  color: hsl(0, 0%, 58%);
}
.main-cont .subs-card .inner-content .email-form button {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background: hsl(234, 29%, 20%);
  font-weight: 700;
}
.main-cont .subs-card .inner-content .email-form button:hover {
  background: linear-gradient(90deg, hsl(354, 100%, 67%) 50%, hsl(18, 99%, 53%) 100%);
  box-shadow: 0 18px 40px hsla(4, 100%, 67%, 0.7);
}
.main-cont .subs-card .inner-content .email-form.error .error-text {
  display: inline;
}
.main-cont .subs-card .inner-content .email-form.error input {
  border-color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.12);
  color: hsl(4, 100%, 67%);
}
.main-cont .subs-card .inner-content .email-form.error input::-moz-placeholder {
  color: hsl(4, 100%, 67%);
}
.main-cont .subs-card .inner-content .email-form.error input::placeholder {
  color: hsl(4, 100%, 67%);
}
.main-cont .subs-card .image-cont {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.main-cont .subs-card .image-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-cont .subs-card .image-cont .bg-mobile {
  display: none;
}

.success-card {
  display: flex;
  max-width: 300px;
  background: hsl(0, 0%, 100%);
  border-radius: 24px;
  padding: 3rem;
  box-shadow: hsla(222, 47%, 11%, 0.45);
  display: none;
}
.success-card .success-icon {
  width: 50px;
  height: 50px;
}
.success-card h1 {
  color: hsl(234, 29%, 20%);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.success-card p {
  margin-bottom: 1rem;
  color: hsl(234, 29%, 20%);
  font-weight: 400;
}
.success-card p .success-email {
  font-weight: 700;
}
.success-card .dismiss-btn {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background: hsl(234, 29%, 20%);
  font-weight: 700;
}
.success-card .dismiss-btn:hover {
  background: linear-gradient(90deg, hsl(354, 100%, 67%) 50%, hsl(18, 99%, 53%) 100%);
  box-shadow: 0 18px 40px hsla(4, 100%, 67%, 0.7);
}

.attribution {
  padding-top: 2rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  text-decoration: none;
  color: hsl(4, 100%, 67%);
}

@media (max-width: 850px) {
  .main-cont .subs-card {
    flex-direction: column-reverse;
    padding: 2rem;
    max-width: 500px;
  }
  .main-cont .subs-card .image-cont img {
    display: none;
  }
  .main-cont .subs-card .image-cont .bg-mobile {
    border-radius: 24px;
    display: block;
    width: 100%;
  }
  .main-cont .subs-card .inner-content {
    padding: 0;
    text-align: left;
  }
  .main-cont .subs-card .inner-content h1 {
    font-size: 2rem;
  }
  .success-card {
    max-width: 450px;
  }
  footer {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  body {
    background: hsl(0, 0%, 100%);
    justify-content: flex-start;
    padding-top: 2rem;
  }
  main {
    align-items: center;
  }
  .main-cont {
    padding: 1rem;
  }
  .main-cont .subs-card {
    box-shadow: none;
    padding: 1rem;
    max-width: 350px;
  }
  .main-cont .subs-card .image-cont img {
    display: none;
  }
  .main-cont .subs-card .image-cont .bg-mobile {
    display: none;
  }
  .main-cont .subs-card .inner-content {
    padding: 0;
  }
  .main-cont .subs-card .inner-content h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: hsl(234, 29%, 20%);
  }
  .main-cont .subs-card .inner-content p {
    font-size: 14px;
  }
  .main-cont .subs-card .inner-content ul li {
    font-size: 14px;
  }
  .main-cont .subs-card .inner-content ul li img {
    width: 18px;
  }
  .main-cont .subs-card .inner-content .email-form input {
    width: 90%;
  }
  .success-card {
    width: 100%;
    max-width: 350px;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: none;
  }
  .dismiss-btn {
    width: 100%;
    margin-top: 5rem;
  }
  footer {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */